---
layout: default
title: About
permalink: '/about/'
---
<!-- TODO: reuse snippet from sidebar? allow extra content? -->
{% for kv in site.authors %}
  {% assign author=kv[1] %}
    <h2><a id="#{{author.handle }}">{{author.display_name}}</a></h2>

    <a href="{%if author.gravatar %}http://www.gravatar.com/{{author.gravatar}}{% else %}#{% endif %}"><img src="http://www.gravatar.com/avatar/{{author.gravatar}}?d=monsterid" alt="{{ author.display_name }}"/></a>
  <p>{% if author.bio %}{{ author.bio }}{% endif %}</p>
  {% if author.gravatar %}
  <p><a href="http://www.gravatar.com/{{author.gravatar}}">View my gravatar profile</a></p>
  {% endif %}
  {% if site.sidebar.about.social and site.sidebar.about.social.size > 0 %}
  <div class="btn-group btn-group-xs btn-group-social-bar">
    <button type="button" class="btn btn-default disabled">
      Find me!
    </button>
    {% for key in site.sidebar.about.social %}{% assign dat=site.data.social[key] %}
      {% if dat and dat.profile and author[key] %}
    <button type="button" class="btn btn-default">
      <a target="_blank"
        href="{{ dat.profile | replace: '_USER_', author[key] }}"
        title="Find me on {{ dat.name }}">
        <span class="fa {{ dat.icon }} fa-fw"></span>
      </a>
    </button>
      {% endif %}
    {% endfor %}<!-- social -->
  </div>
  {% endif %}
{% endfor %}<!-- author -->
</div><!-- about -->
