---
layout: frame
title: Blog
full_posts: 3
permalink: '/blog/'
---
{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
    {% include post.single.html %}
  {% else %}
    {% if forloop.index == page.full_posts %}
    <!-- post listing -->
  <h2 class='date-header'>Older posts</h2>
  <div class='blog-post'>
    <table class='table table-striped table-bordered post-list'>
      <thead>
        <tr>
          <th class='col-xs-1 col-sm-3'>Date</th>
          <th class='col-xs-11 col-sm-9'>Post</th>
        </tr>
      </thead>
    {% endif %}
    <tr>
      <td>{{ post.date | date: '%A, %d %B %Y' }}</td>
      <td><a href='{{ post.url }}'>{{ post.title }}</a></td>
    </tr>
  {% endif %}
{% endfor %}
{% if site.posts | size > page.full_posts %}
  </table>
  </div>
{% endif %}
