<!-- fill this with links you want in your navbar -->
<ul class="nav navbar-nav">
  <li><a href="/blog">Blog</a></li>
  <li><a href="/about">About</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Stuff<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">R packages</a></li>
      <li><a href="#">Nethack stuff</a></li>
      <li><a href="#">GNOME Shell JS documentation</a></li>
      <li><a href="#">GNOME Shell extensions</a></li>
    </ul>
  </li>
</ul>
