<footer role="contentinfo">
  <div id="fb-root"></div>
  <div class="container-fluid">
    <div class="col-xs-12">
      <div id="footer">
      <!-- TODO: social buttons -->
        {% capture my_include_footer %}{% include EDIT.footer.text.md %}{% endcapture %}
        {{ my_include_footer | markdownify }}
      </div>
    </div>
  </div>
</footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery-1.11.1.min.js"></script>
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <!--script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->
  <script type="text/javascript">
  /* silly thingy to make sure navbar dropdowns lose focus
   * when clicked shut. only noticable if you have a hover
   *  style, I think (or maybe a focus style). */
  $(document).ready(function() {
      /* Stoopid dropdown-close-still-focused fix */
      $(".dropdown").on("hidden.bs.dropdown", function (e) {
          $(e.currentTarget).find('a.dropdown-toggle').blur();
          e.preventDefault();
          return false;
      });
  });
  </script>
  <!-- fb 'like' -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <!-- google +1 -->
<script type="text/javascript">
window.___gcfg = {
  lang: 'en-GB',
  parsetags: 'onload'
};
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

{% if site.disqus_shortname %}
  <script type="text/javascript">
  var disqus_shortname = '{{site.disqus_shortname}}'; 
  (function () {
   var s = document.createElement('script'); s.async = true;
   s.type = 'text/javascript';
   s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
   (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
  </script>
{% endif %}
  </body>
</div>
</html>
