<footer role="contentinfo">
  <div class="container">
    <div class="col-xs-12">
      <div id="footer">
      <!-- TODO: social buttons -->
        {% capture my_include_footer %}{% include EDIT.footer.text.md %}{% endcapture %}
        {{ my_include_footer | markdownify }}
      </div>
    </div>
  </div>
</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
// silly thingy to make sure navbar dropdowns lose focus
// when clicked shut. only noticable if you have a hover
//  style, I think (or maybe a focus style).
$(document).ready(function() {
    /* Stoopid dropdown-close-still-focused fix */
    $(".dropdown").on("hidden.bs.dropdown", function (e) {
        $(e.currentTarget).find('a.dropdown-toggle').blur();
        e.preventDefault();
        return false;
    });
});
</script>
    <!-- disqus -->
    <script type="text/javascript">
    {% include EDIT.disqus.html %}
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
     }());
    </script>
  </body>
</div>
</html>
