<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- for fb share -->
    <meta property="og:title" content="{{page.name}}" />
    <meta property="og:url" content="{{page.url}}" />
    <!-- TODO: image -->
    <meta property="og:site_name" content="{{site.name}}" />
    <meta property="og:description" content="{{page.excerpt}}" />

    <title>{{ site.name }}</title>

    <!-- Bootstrap -->
    <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/me.css" rel="stylesheet">
    <!-- FontAwesome -->
    <!--link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- feed autodiscovery -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.url }}" href="/feeds/rss.xml" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for {{ site.url }}" href="/feeds/atom.xml" />
  </head>
  <body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="page-header">
          <h1><a href="/">{{ site.name }}</a><small> {{ site.description }}</small></h1>
        </div>
      </div>
    </div>
  </div>
