<!-- Blog archive, by year then month.
TODO: 
- [x] styling of chevrons
- [ ] Links of years/months
- [ ] Open to current blogpost
- [x] It initialises all expanded
- [x] Show number per category
{% capture cache %}
{% assign mm=0 %}
{% assign yy=0 %}
{% assign ycounts="" %}
{% assign mcounts="" %}
{% for post in site.posts %}
  {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  {% capture currentmonth %}{{post.date | date: "%B"}}{% endcapture %}
  {% if currentyear != year %}
    {% unless forloop.first %}
      {% assign mcounts=mcounts | append:'|' | append: mm %}
      {% assign ycounts=ycounts | append:'|' | append: yy %}
      {% assign yy=0 %}
      {% assign mm=0 %}
    {% endunless %}
    {% capture year %}{{currentyear}}{% endcapture %} 
    {% capture month %}{{currentmonth}}{% endcapture %} 
  {% elsif currentmonth != month %}
    {% assign mcounts=mcounts | append:'|' | append: mm %}
    {% assign mm=0 %}
    {% capture month %}{{currentmonth}}{% endcapture %} 
  {% endif %}
  {% assign yy = yy | plus: 1 %}
  {% assign mm = mm | plus: 1 %}
  {% if forloop.last %}
    {% assign mcounts=mcounts | append:'|' | append: mm %}
    {% assign ycounts=ycounts | append:'|' | append: yy %}
  {% endif %}
{% endfor %}
{% assign mcounts = mcounts | remove_first:'|' | split:'|' %}
{% assign ycounts = ycounts | remove_first:'|' | split:'|' %}
{% assign yy=0 %}
{% assign mm=0 %}
{% endcapture %}{% assign cache=nil %}
-->
<div class="sidebar-widget blog-archive">
<h3>Blog archive</h3>
<ul class="fa-ul" >
{% for post in site.posts %}
  {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  {% capture currentmonth %}{{post.date | date: "%B"}}{% endcapture %}
  {% if currentyear != year %}
    {% unless forloop.first %}
        </ul>
      </li><!-- month -->
    </ul>
  </li><!-- year -->
    {% endunless %}
  <li><a class="collapsed" data-toggle="collapse" data-target="#collapse{{ currentyear }}">{{ currentyear }}</a>
    ({{ ycounts[yy] }}){% assign yy = yy | plus:1 %}
    <ul class="fa-ul collapse"  id="collapse{{ currentyear }}">
      <li><a class="collapsed" data-toggle="collapse" data-target="#collapse{{ currentmonth }}{{ currentyear }}">{{ currentmonth }}</a>
        ({{ mcounts[mm] }}){% assign mm = mm | plus:1 %}
        <ul class="fa-ul collapse"  id="collapse{{ currentmonth }}{{ currentyear }}">
    {% capture year %}{{currentyear}}{% endcapture %} 
    {% capture month %}{{currentmonth}}{% endcapture %} 
  {% elsif currentmonth != month %}
        </ul>
      </li><!-- month -->
      <li><a class="collapsed" data-toggle="collapse" data-target="#collapse{{ currentmonth }}{{ currentyear }}">{{ currentmonth }}</a>
        ({{ mcounts[mm] }}){% assign mm = mm | plus:1 %}
        <ul class="fa-ul collapse"  id="collapse{{ currentmonth }}{{ currentyear }}">
  {% endif %}
          <li class="blog-archive-post"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% capture month %}{{currentmonth}}{% endcapture %} 
  {% if forloop.last %}
        </ul>
      </li><!-- month -->
    </ul>
  </li><!-- year -->
</ul><!-- archive -->
  {% endif %}
{% endfor %}
</div>
