<!-- social bar for POSTS, with share links -->
<!-- like/+1/follow vs SHARE ? -->
<div class="btn-group btn-group-xs btn-group-social-bar pull-right">
  <button type="button" class="btn btn-default disabled">
    Share:
  </button>
  {% for key in site.social-post %}{% assign dat=site.data.social[key] %}
    {% if dat and dat.share %}{% capture cache %}
      {% assign url=page.url | url_param_escape %}
      {% assign desc=page.title | truncate: 100 | url_param_escape %}
      {% if dat.share-personal and site.social[key] %}
        {% assign href=dat.share-personal | replace: '_URL_', url | replace: '_TEXT_', desc | replace: '_USER_', site.social[key] %}
      {% else %}
        {% assign href=dat.share | replace: '_URL_', url | replace: '_TEXT_', desc %}
      {% endif %}
      {% endcapture %}{% assign cache=nil %}
  <button type="button" class="btn btn-default btn-social">
    <a 
      target="_blank"
      href="{{ href }}"
      title="Share on {{ dat.name }}">
      <span class="fa {{ dat.icon }} fa-fw"></span>
    </a>
  </button>
    {% endif %}
  {% endfor %}
</div>
