---
layout: frame
---
<!-- TODO: post/page set automatically -->
  <h2 class='date-header'>{{ page.date | date_to_string }}</h2>
  <div class='blog-post'>
    <h1 class='title'>{{ page.title }}</h1>
    {{ content }}
    <!-- TODO: posted by <uname> at <time>. Link to comments. like bar. labels. -->
    <div class='post-footer'>
        <p>
    {% include social.html %}
    {% if page.authors and page.authors.size > 0 %}{% assign tmp=page.authors.size | minus: 1 %}
      Posted by
      {% for k in page.authors %}{% assign a=site.authors[k] %}
      <a href="/about#{{ a.display_name | handleize }}">{{ a.display_name }}</a>{% unless page.authors.size == 1 or forloop.last %}{% if forloop.index == tmp %} and{% else %},{% endif %}{% endunless %}
      {% endfor %}
        {% else %}
          Posted
        {% endif %}
        on 
        {% assign dd = page.date | date: '%A, %d %B %Y at %H:%M' %}
        {% if dd contains 'at 00:00' %}
          {{ page.date | date: '%A, %d %B %Y' }}
        {% else %}
          {{ dd }}
        {% endif %}
        <br />
        {% if page.categories %}
        Tags: {{ page.categories | join: ', ' }}<br />
<!-- TODO: link (search) site.categories.CATEGORY -->
<!-- TODO: tags vs categories -->
        {% endif %}
    </p>

    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
    </div>
  </div>
